<nav class="navbar navbar-light bg-black">
    <p class="navbar-brand">
        Popular Series
    </p>
</nav>
<div class="container main">
    <div class="row" *ngIf="_series else loading">
        <div class="col-xs-6 col-md-12 play">
            <a href="#" *ngFor="let item of _series;">
                <img src="{{item.images.posterArt.url}}" alt="{{item.images.title}}">
            </a>
        </div>
    </div>

    <ng-template #loading>
        <div>Loading...</div>
    </ng-template>
</div>