<nav class="navbar navbar-light bg-blue">
        <div class="container">
            <a class="navbar-brand" href="#">
                DEMO Streaming
            </a>
            <ul class="justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-secondary btn-sm move">Start your free trial</button>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-black">
        <p class="navbar-brand">
           {{title}}
        </p>
    </nav>