<section class="login-block">
    <p style="color: #000" *ngIf="onError">Oops, something went wrong...</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form">
          <div class="wrap-input100 validate-input">
            <span class="label-input100">Username</span>
            <app-form-error-wrapper [control]="loginForm.controls['email']" [controlName]="'Email'">
              <input class="form-control" type="email" formControlName="email" placeholder="Type your email">
            </app-form-error-wrapper>
            <!-- <span class="focus-input100"></span> -->
          </div>
          <div class="wrap-input100 validate-input">
            <span class="label-input100">Password</span>
            <app-form-error-wrapper [control]="loginForm.controls['password']" [controlName]="'Password'">
              <input class="form-control" type="password" formControlName="password" placeholder="Type your password">
            </app-form-error-wrapper>
            <!-- <span class="focus-input100 password"></span> -->
          </div>
          <div class="text-right p-t-8 p-b-31">
            <a href="#">
              Forgot password?
            </a>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <button class="btn btn-primary">
                Login
              </button>
            </div>
          </div>
          <div class="txt1 text-center p-t-54 p-b-20">
            <span>
              Or Sign Up Using
            </span>
          </div>
          <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="login100-social-item bg3">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </form>
        <div class="copy-text">Created with
          <i class="fa fa-heart"></i> by
          <a href="http://stoto.co.za">Sandiso Toto</a>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="signup__overlay">
            <img class="login-img" src="assets/images/absa-logo-round.svg"/>
        </div>
      </div>
    </div>
  </div>
</section>