
<app-header [title]="title"></app-header>
<div class="container main">
    <div class="row">
        <div class="card-deck">
            <div class="card main-tile" routerLink="/series">
                <div class="card-body">
                    <h5 class="card-title">SERIES</h5>
                    <p class="card-text">Popular Series</p>
                </div>
            </div>
            <div class="card main-tile" routerLink="/movies">
                    <div class="card-body">
                        <h5 class="card-title">MOVIES</h5>
                        <p class="card-text">Popular Movies</p>
                    </div>
                </div>
        </div>
    </div>
</div>
