<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="top">
                <nav class="nav">
                  <a class="nav-link" href="#">Terms and conditions</a>
                  <a class="nav-link" href="#">Privacy policy</a>
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Collection
                    Statement</a>
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Help</a>
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Manage Account</a>
                </nav>
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <div class="mid nav justify-content" style="margin-left: 1em; color: grey;">
                Copyright Demo streaming. All rights reseved
              </div>
              <div class="bottom">
                <nav class="nav justify-content">
                  <a class="nav-link active" href="#"><img height="22" src="assets/social/facebook-white.svg"></a>
                  <a class="nav-link" href="#"><img height="22" src="assets/social/instagram-white.svg"></a>
                  <a class="nav-link" href="#"><img height="22" src="assets/social/twitter-white.svg"></a>
                </nav>
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"><img height="35" src="assets/store/app-store.svg"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><img height="35" src="assets/store/play-store.svg"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>